@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
  }
}

@layer components {
  .primary-navigation-container {
    @apply bg-secondary/80 backdrop-blur-md fixed top-0 right-0 h-full w-3/5 sm:w-2/5; 
    @apply md:static md:h-auto md:right-6 md:bg-primary; 
  }
  
  .primary-navigation {
    @apply pl-6 py-16 capitalize font-montserrat text-base text-primary z-50; 
    @apply md:flex md:justify-between md:p-0 whitespace-nowrap md:bg-secondaryLight
  }
  
  .mobile-nav-toggle {
    @apply absolute text-2xl z-50 right-6 text-primary md:hidden
  }
  
  .mobile-nav-closed {
    @apply text-black
  }
  
  .nav-link-hover {
    @apply hover:bg-secondary
  }
}


#canvas {
  width: 100%;
  height: auto;
}
