@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* font-size: 62.5%; */
}

body {

  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

main {
  @apply h-screen; 
}



#canvas {
  width: 100%;
  height: auto;
}

.portal {
 
}
